html {
    min-height: 100vh;
    cursor: url("../cursors/africa-dark.cur"), auto;
}

body {
    font-family: 'Barriecito', cursive;
}

.game-control {
    background-color: #2f1818;
    color: #e6b145;
    width: 100%;
    height: 100vh;
}

.game-title {
    font-family: 'Barriecito', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 4em;
    margin-top: 10px;
    width: 100%;
    height: auto;
    letter-spacing: 3px;
}

.overlay-text {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #FF6D00;
    font-family: 'Barriecito', cursive;
    display: none;
}

.overlay-text-small {
    font-size: 0.3em;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        font-size: 10em;
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.user-container {
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.user-pic {
    max-width: 60%;
    height: auto;
    margin: 0% 20%;
}

.user-pic img {
    border: 1px solid #000;
    max-width: 100%;
    text-align: center;
    height: auto;
}

.user-name {
    height: 50px;
    margin-top: 10px;
    font-family: 'Barriecito', cursive;
}

.game-country {
    box-sizing: border-box;
    border: 1px solid #000;
    padding: 6px 0px 3px;
    width: 60%;
    margin: 0% 20% 2%;
}

/* ----------------------------------------------------------------- Game Level */

.level-container {
    text-align: center;
}

.level {
    box-sizing: border-box;
    display: inline-block;
    margin: 15px 10px 10px;
    width: 70px;
    height: 70px;
    border: 2px solid;
    border-radius: 50%;
    padding: 20px 0px;
    background-color: #e6b145;
}

.level-text {
    font-weight: bold;
}

.controls-container {
    margin-top: 10px;
    text-align: center;
}

.controls-container i {
    font-size: 200%;
    margin: 0px 20px;
    border: 1px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    padding: 8px;
}

/* ----------------------------------------------------------------- Light/Dark Mode Toggle */

.theme-toggle-container {
    text-align: center;
    margin-top: 2em;
}

.theme-toggle {
    opacity: 0;
    position: absolute;
    padding: 30px;
}

.label {
    background-color: #111;
    color: #e6b145;
    border-radius: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .switch {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.theme-toggle:checked + .label .switch {
    transform: translateX(24px);
}

/* ----------------------------------------------------------------- Game Board Container */

.game-board {
    background-color: #6E4949;
    width: 100%;
    height: 100vh;
}

.game-cards-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    perspective: 500px;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    margin: 0px 50px;
}

.game-info {
    font-family: 'Barriecito', cursive;
    color: #e6b145;
    font-size: 2em;
    text-align: center;
    padding-top: 10px;
}

.card {
    position: relative;
    height: 130px;
    width: 120px;
    background: none !important;
    border: none !important;
}

.card-back {
    background: #000;
    border: 4px solid #e6b145;
    border-radius: 17px;
}

.card-back img {
    height: 80%;
    width: auto;
    transform: scale(1);
}

.card-front {
    transform: rotateY(180deg);
    background: #2f1818;
    border: 4px solid #e6b145;
    border-radius: 17px;
}

.card-front img {
    height: 100%;
    width: auto;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card:hover .card-back img {
    transform: scale(1.2);
    transition: transform 500ms ease-in-out;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

.level-container {
    text-align: center;
}

.level {
    box-sizing: border-box;
    display: inline-block;
    margin: 15px 10px 10px;
    width: 70px;
    height: 40px;
    border: 2px solid;
    border-radius: 40%;
    padding: 5px 0px;
    background-color: #202020;
}

.level-text {
    font-weight: bold;
    letter-spacing: 2px;
}

.controls-container {
    margin-top: 10px;
    text-align: center;
}

.controls-container i {
    color: #e6b145;
    font-size: 150%;
    margin: 0px 20px;
    border: 1px solid #e6b145;
    border-radius: 50%;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    padding: 12px 0px;
}


@media (max-width: 767px) {

    .user-pic {
        max-width: 50%;
        height: auto;
        margin: 0% 25%;
    }

    .game-country {
        width: 50%;
        margin: 0% 25% 2%;
        font-size: 2em;
    }

    .game-board {
        height: 100vh;
    }

    .game-cards-container {
        grid-template-columns: repeat(3, auto);
        grid-gap: 10px;
    }

    .game-info-container {
        align-items: center;
        margin: 10px 0px 0px;
        padding: 0px 10px;
        font-size: 80%;
    }

    .card {
        width: 70px;
        height: 75px;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .game-title {
        font-size: 3.5em;
    }

    .user-pic img {
        max-height: 150px;
        width: auto;
    }

    .card {
        width: 105px;
        height: 115px;
    }
}

@media (min-width: 1001px) and (max-width: 1065px) {
    .game-title {
        font-size: 4em;
    }
}
