html {
    min-height: 100vh;
    cursor: url("../cursors/africa-dark.cur"), auto;
}

body {
    font-family: 'Barriecito', cursive;
}

.game-control {
    background-color: #2f1818;
    color: #e6b145;
    width: 100%;
    height: 100vh;
}

.game-title {
    background: #6e4949;
    border-radius: 10px;
    font-family: 'Barriecito', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 4em;
    margin-top: 20px;
    width: 100%;
    height: auto;
    letter-spacing: 3px;
}

.overlay-text {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #FF6D00;
    font-family: 'Barriecito', cursive;
    display: none;
}

.overlay-text-small {
    font-size: 0.3em;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        font-size: 10em;
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.user-container {
    box-sizing: border-box;
    padding: 5px 0px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #6e4949;
    border-radius: 10px;
    margin-top: 15px;
}

.user-pic {
    text-align: center;
    width: 100%;
    height: 80px;
}

.user-pic img {
    box-sizing: border-box;
    height: 80px;
    max-width: 100px;
    width: auto;
}

.user-profile {
    box-sizing: border-box;
    padding-top: 10px;
    font-family: 'Barriecito', cursive;
}

.game-country {
    box-sizing: border-box;
    max-height: 20%;
    width: auto;
    padding: 10px 0px 0px;
}

/* ----------------------------------------------------------------- Modal Styling */
.modal-content.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.modal-header {
    background-color: #2f1818;
    display: block;
    text-align: center;
    border: none;
}

.modal-body {
    background-color: #6e4949;
    text-align: center;
}

.modal-footer {
    background-color: #2f1818;
    display: block;
    text-align: center;
    border: none;
}

.save-button {
    color: #e6b145;
    font-weight: 700;
    border: 2px solid #e6b145;
    background-color: #6e4949;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    text-align: center;
}

.save-button:hover {
    color: #2f1818;
    font-weight: 700;
    background-color: #e6b145;
}

/* ----------------------------------------------------------------- Game Level */

.level-container {
    background-color: #6e4949;
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
}
/* Button animation effect from:
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate3 */
.level-container button {
    padding: 5px 25px;
    margin: 20px 10px 25px;
    height: 80%;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #2f1818;
    background-color: #db9c1d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.level-container button:hover {
    background-color: #c48c1a;
}

.level-container button:active {
    background-color: #c48c1a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border: none;
}

/* ----------------------------------------------------------------- Light/Dark Mode Toggle */

.theme-toggle-container {
    text-align: center;
    background-color: #6e4949;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    border-radius: 10px;
}

.theme-toggle {
    opacity: 0;
    position: absolute;
    /* padding: 30px; */
}

.label {
    margin-top: 12px;
    background-color: #111;
    color: #e6b145;
    border-radius: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .switch {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.theme-toggle:checked + .label .switch {
    transform: translateX(24px);
}

/* ----------------------------------------------------------------- Game Control Icons Container */

.controls-container {
    background-color: #6e4949;
    border-radius: 10px;
    margin-top: 15px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0px;
}

.controls-container i {
    color: #e6b145;
    margin: 0px 20px;
    border: 2px solid #e6b145;
    border-radius: 50%;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    padding: 12px 0px;
    background-color: #202020;
    line-height: 25px;
}

.controls-container i:hover {
    color: #2f1818;
    font-weight: 700;
    background-color: #e6b145;
}

.controls-icons {
    display: inline-block;
}

.controls-icons button {
    background: none;
    border: none;
}

/* ----------------------------------------------------------------- Game Board Container */

.game-board {
    background-image: url("../images/africa-light.png");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.game-cards-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    perspective: 500px;
}

.game-info-container {
    background-color: #6e4949;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    margin: 10px 50px 0px;
    border-radius: 10px;
}

.game-info {
    font-family: 'Barriecito', cursive;
    color: #e6b145;
    font-size: 2em;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
}

.card {
    position: relative;
    height: 130px;
    width: 120px;
    background: none !important;
    border: none !important;
}

.card-back {
    background: #000;
    border: 4px solid #e6b145;
    border-radius: 17px;
}

.card-back img {
    max-height: 80%;
    max-width: 100%;
    transform: scale(1);
}

.card-front {
    transform: rotateY(180deg);
    background: #6e4949;
    border: 4px solid #e6b145;
    border-radius: 17px;
}

.card-front img {
    height: 100%;
    width: auto;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

/* .card:hover .card-back img {
transform: scale(1.2);
transition: transform 500ms ease-in-out;
} */

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

/* ----------------------------------------------------------------- Media Queries */

@media (max-width: 414px) {

    .game-title {
        font-size: 2.5em;
    }

    .game-country {
        width: 50%;
        margin: 0% 25% 2%;
        font-size: 2em;
    }

    .game-board {
        height: 100vh;
    }

    .game-cards-container {
        grid-template-columns: repeat(3, auto);
        grid-gap: 10px;
    }

    .game-info-container {
        align-items: center;
        margin: 10px 0px 0px;
        padding: 0px 10px;
        font-size: 80%;
    }

    .card {
        width: 80px;
        height: 85px;
    }
}

@media (min-width: 414px) and (max-width: 533px) {
    .card {
        width: 95px;
        height: 100px;
    }
}


@media (min-width: 534px) and (max-width: 868px) {
    .game-title {
        font-size: 3em;
    }

    .card {
        width: 105px;
        height: 115px;
    }

    .level-container button {
        padding: 5px 15px;
        margin: 8px 10px 15px;
    }
}

@media (min-width: 869px) and (max-width: 1000px) {
    .game-title {
        font-size: 3.5em;
    }

    .card {
        width: 105px;
        height: 115px;
    }

    .level-container button {
        padding: 5px 15px;
        margin: 8px 5px 15px;
    }
}

@media (min-width: 1001px) and (max-width: 1065px) {
    .game-title {
        font-size: 4em;
    }
}

/* ----------------------------------------------------------------- Deactivate Mode Settings */

.deactivatedMode {
    opacity: 0.4;
    cursor: wait;
}
